*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar{
  float: right;
  background-color: black;
  padding: 10px;
  font-size: 16px;
  font-family: Tahoma;
}

nav ul li{
  list-style: none;
  display: inline-block;
  padding: 0px 6px;
}

nav a{
  text-decoration: none;
  color: white;
}

body{
  background-color: black;
}

h1{
  color: white;
}